.slider .track {
  width: 200px;
  height: 9px;
  float: left;
  position: relative;
  top: 4px;
  background: transparent url(/images/slider/track-right.png) no-repeat top right; }
.slider .track-left {
  position: absolute;
  width: 5px;
  height: 9px;
  background: transparent url(/images/slider/track-left.png) no-repeat top left; }
.slider .handle {
  width: 19px;
  height: 20px; }
.slider .track-label {
  margin-left: 5px;
  float: left; }
