%p
  April Fools!
%p
  As you probably figured out already, Google Writer is our April Fools joke for this year. :)
  Google probably doesn't even know about us, let alone want to buy Codexed, so our small
  community and lack of ads is safe... for now!
  %br/
  %br/
  I hope you enjoyed it!
