%style
  :sass
    ul.points li
      padding-bottom: 7px

%p
  %b Codexed is now Google Writer!

%font{ :size => "-1" }
  %p
    We here at Codexed are pleased to finally be able to announce that we have been bought by
    Google and will henceforth be known as Google Writer! This partnership is something we have
    been very excited about for a long time (especially since being bought by Google means
    that we just made ourselves a lot of money!) and are glad to be able to share it with you. 
  %p
    We believe that Google Writer will fill a hole that was missing in Google's suite of
    existing applications. While Blogger has been a Google property since 2003, Google
    has not had a journalling service... until now! You will now be able to combine
    Codexed's flexibility and community with Google's power and stability.
  %p
    This change will bring with it a number of changes and updates to the existing
    Codexed system, including:
  %ul.points
    %li
      %b Harness the power of Google Search
      %br/
      With Google's patented Search technologies integrated into every facet of Google Writer,
      you will have much more power to find what you're looking for. Want to see all the people
      who have written entries about you? Now you'll be able to!
    %li
      %b Google AdWords integration
      %br/
      Journal entries will now automatically be outfitted with context-sensitive text ads powered
      by Google AdWords. Write about how you hate your job and you will get links to how to find
      a new one!
    %li
      %b Merger of the Google community and the Codexed community
      %br/
      Although Codexed has been pretty small and close-knit to this point, by exposing it to the 
      Google community as a whole we will soon have millions of users! Not only will you have
      hundreds of thousands of new journal posts to read every day, but the forums might actually
      be used again!
    %li
      %b Integration with Google Wave and Google Buzz
      %br/
      Now, as soon as a new entry is posted, a notification will immediately go out to all your
      GMail contacts via Google Buzz to inform them about it! As well, a Google Wave thread will
      be automatically created and linked to your entry to provide commenting capability!

  %p
    We hope that you're as excited about these new and forthcoming changes as we are! Please
    ==feel free to read the #{ link_to "press release", :action => :release } for additional
    ==information or tell us what you think on the #{ link_to "forums", "http://forums.codexed.com" }!
