# Outgoing email settings

production:
  delivery_method: :smtp
  smtp_settings:
    address: address
    port: 25
    domain: domain.com
    authentication: :login
    user_name: user@domain.com
    password: password

development:
  deliver_method: :smtp
  smtp_settings:
    address: 127.0.0.1
    port: 25
    domain: domain.com
    authentication: :login
    user_name: user@domain.com
    password: password
