%style{ :type => 'text/css' }
  :sass
    p
      text-align: center

%div#woc-header{ :style => 'width: 100%; clear: both; text-align: center;' }
  = image_tag('woc/header.png')

  %div{ :style => 'width: 50%; margin-left: auto; margin-right: auto;' }
    %p
      Okay, so if you haven't realized it already, we haven't really partnered with Blizzard (I doubt that Blizzard even knows that Codexed exists), we aren't really making a video game,
      and this is just our April Fools joke. We hope you enjoyed it! 
    %p
      Stay tuned for some <b>real</b> new features of Codexed, coming in the next few days.
    %p
      And just in case Blizzard by some strange means <b>does</b> know about Codexed... please don't sue me. Thanks!
      
