table.form {
  width: 80%; }
  table.form td {
    vertical-align: top;
    text-align: left; }
  table.form td.checkbox {
    width: 30px; }

blockquote hr {
  border: none;
  height: 1px;
  color: silver;
  background-color: silver;
  width: 90%; }
blockquote form {
  margin: 1em 0 0.5em; }

.notice, .error, .success {
  width: auto;
  margin-bottom: 0.5em; }

.job_progress_box {
  width: 500px;
  margin: 1em auto;
  border: 1px solid gray;
  background-color: white;
  /* overflow: hidden */ }
  .job_progress_box .job_activity, .job_progress_box .job_progress_bar_bg, .job_progress_box .job_progress_bar_fill, .job_progress_box .job_info {
    min-height: 20px; }
  .job_progress_box .job_activity, .job_progress_box .job_progress_bar_bg, .job_progress_box .job_info {
    margin: 7px; }
  .job_progress_box .job_activity, .job_progress_box .job_info {
    line-height: 20px;
    font-size: 14px;
    text-align: center; }
  .job_progress_box .job_progress_bar_bg {
    border: 1px inset gray;
    background: #BFBFBF url(/images/progress_bar_bg.gif) repeat-x; }
    .job_progress_box .job_progress_bar_bg.animated {
      background: #BFBFBF url(/images/progress_bar_bg_anim.gif) repeat-x; }
  .job_progress_box .job_progress_bar_fill {
    background: #343A5D url(/images/progress_bar_fill.gif) repeat-x; }
    .job_progress_box .job_progress_bar_fill.animated {
      background: #343A5D url(/images/progress_bar_fill_anim.gif) repeat-x; }
  .job_progress_box .job_info {
    font-size: 0.9em;
    font-style: italic; }
